/***************************************************
	      minimalist by marija zaric
	      template distributed by
        http: //freehtml5templates.com
***************************************************
***************************************************
			      Reset
***************************************************/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, form, label, 
legend, caption, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section, summary {
   margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

tt, code, kbd, samp {
    font-family: 'Courier New', 'Courier', 'Lucida Console', Monaco;
}

input {
    background: #f1f1f1;
    padding: .5em .3em;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type=text]:focus {
    background: #fff;
}

ol, ul {
	list-style: none;
}

a img {
   border: none
}

a,
a:link {
    color: #c33;
    text-decoration: none;
    padding: 0 .2em;
}

a:active,
a:hover {
    border-bottom: 1px dashed #c33;
}



aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block}

/***************************************************
			      Global styles
***************************************************/

html {
	width: 100%;
	height: 100%;
}

body {
    background: #eee;
    font-family: "Georgia","Helvetica Neue", Arial, sans-serif;
	font-size: 16px;
	color: #575757;
	margin: 0 0 1px;
    height: 100%; 
	line-height: 1.7;
	border-top: 10px solid #333;
}

.align-right {
    text-align: right;
}

#body {
    width: 950px;
    margin: 0 auto;
}

p {
	margin-top: 3px;
}
	
a, p a {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-family: inherit;
    text-rendering: optimizelegibility;
}

h1 {
	font-size: 1.4em;
}

h2 {
	font-size: 1.3em;
}
	
h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1.1em;
}

h5 {
	font-size: 1.1em;
}

/**************
 * Header
 */
	
header {
	width: 100%;
	height: 100px;
    margin-bottom: 2em;
}

header h1#logo {
    display: block;
    padding: 0px;
    font-size: 1.5em;
    height: 1.5em;
    padding: .3em 1em;
    background: #cc3333;
    box-shadow: 2px 1px 10px #999;
    float: left;
    margin: 2em 0;
    vertical-align: middle;
}

header h1#logo a,
header h1#logo a:link,
header h1#logo a:visited,
header h1#logo a:hover {
    display: block;
    color: #fff;
    text-shadow: 0 -2px 2px #999;
    text-decoration: none;
}

em, strong {
    font-weight: normal;
    color: #c33;
    font-style: normal;
}
	
i[class^="icon-"] {
    padding-right: .3em;
}

	
/***************************************************
			        GALLERY
***************************************************/

.article {
    width: 800px;
    position: relative;
    margin: 0 auto 2em auto;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5 {
    padding: 5px 0;
    font-weight: normal;
    margin: 1.2em 0 .5em 0;
}

.article h1 {
    font-size: 1.4em;
}

.article h1:first-child {
    text-align: right;
    font-size: 1.8em;
    border: 0;
}

.article h2 {
    font-size: 1.3em;
}

.article h3 {
    font-size: 1.2em;
}
.article h4 {
    font-size: 1.1em;
}
.article h5 {
    font-size: 1em;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
    color: #c33;
}

.article p {
    margin: .5em 0;
    line-height: 1.5em;
    color: #333;
    text-indent: 2em;
}

.article p > a:visited,
.article p > a:link {
    border-bottom: 1px dashed #c33;
}

.article p.metas {
    text-align: right;
    font-size: 1.2em;
    color: #999;
    margin-top: -1em;
    margin-bottom: 2em;
}

.index img,
.article p > img {
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: .5em;
    border-radius: 3px;
    background: #f3f3f3;
    max-width: 85%;
}

.article pre,
.article code {
    font-size: .9em;
    padding: .5em;
    margin: 0em 2em;
}

.article li pre, .article li code,
.article p pre, .article p code {
    margin: 0;
}

.article > pre {
    border: 1px solid #ccc;
    background: #f3f3f3;
    border-radius: 3px;
}

.article p code,
.article pre code {
    margin: 0;
    padding: 0;
}

.article ul,
.article ol {
    margin: 1em 0 1em 2em;
    list-style-position: inside;
}

.article ul {
    list-style-type: circle;
}

.article ol {
    list-style-type: decimal;
}
 
.pagination {
    text-align: center;
    list-style: none;
    overflow: hidden;
    clear: both;
    width: 30%;
    margin: 3em auto 1em;
}

.pagination li {
    display: inline-block;
    margin: 0 1.5em;
}


	 	 
/***************************************************
			        FOOTER
***************************************************/

footer {
	background-color: black;
    clear: both;
    overflow: hidden;
    padding: 1em 5em;
    color: #fff;
}

footer a:hover,
footer a:visited,
footer a {
    border: none;
}

footer a[ref=nofollow] {
    font-size: .8em;
    color: #999;
}


footer #footnote {
    float: left;
}

footer #copyright {
    float: right;
    text-align: right;
}


/*********
 * index page
 */

.index {

}

.index img {
    padding: 0px;
}

.index .about,
.index .projects,
.index .resources {
    margin-bottom: 1em;
}

.index .about img {
    border: none;
}

.index .about img[alt="我的照片"] {
    border: 1px solid #ccc;
    float: right;
    width: 90px;
    height: 90px;
    padding: .3em;
    margin: 0 0 2em 2em;
}

.index h2 {

}

.index h2, .index h3,
.index dt {
    color: #c33;
}

.article hr,
.index hr {
    display: block;
    width: 30%;
    margin: 2.5em auto;
    height: 1px;
    background: #ccc;
    overflow: hidden;
    border: none;
    *font-size: 1px;
}

.article table {
    margin: .5em 0 .5em 2em;
}

.article table td {
    padding: .2em .2em;
}

.index p {
    text-indent: 2em;
}


.index .projects,
.index .resources,
.index .about,
.index .blog,
{
    clear: both;
}

.index .resources ul,
.index .projects ul {
    list-style: none;
    overflow: hidden;
    clear: both;
    margin: 1em 0;
    *zoom: 1;
}

.index .projects ul li {
    width: 30%;
    float: left;
    min-height: 150px;
    margin: 0 1.5em 0 0;
}

.index .projects ul li p img {
    max-width: 200px;
    height: auto;
}

.index .projects ul li h3 {
    margin: 1em 0;
}

.index .projects ul li p {
    text-align: justify;
}


.index .resources {

}

.index .resources h2{
    margin-bottom: 1em;
}

.index .resources h3 {
    font-size: 1.1em;
    margin: 1em 0 1em 1em;
}

.index .blog ul,
.index .resources ul {
    list-style: square;
    list-style-position:inside;
    margin: 1em 0 2em 2em;
}

.index .resources ul li {
    width: 50%;
    float: left;
}


.index .blog {
    overflow: hidden;
}

.index .blog h3 {
    padding: 1em 0 0 0;
}

.index .blog .latest,
.index .blog .categories {
    float: left;
    width: 45%;
}

.index .blog ul {
    overflow: hidden;
}

.index .blog .categories ul {
    margin: 1em 0 1em 2em;
}

.index .blog .categories li {
    width: 10em;
    float: left;
}

.index .blog .search {
    padding: 1em 2em;
}

.index .blog .search p {
    text-indent: 0;
    padding: 0 0 .5em 0;
}

.index .blog .search input {
    font-size: 1em;
}

.index .blog .search input[type=submit],
.index .blog .search .submit {
    border: none;
    background: #c33;
    color: #fff;
    display: block;
    padding: .3em 1em;
    cursor: pointer;
}

.tag_box {
    list-style: none;
    font-size: 1em;
    overflow: hidden;
    *zoom: 1;
}

.tag_box li {
    background: #c33;
    color: #fff;
    padding: .3em .5em;
    list-style: none;
    border-radius: 3px;
    opacity: .85;
}

.tag_box li:hover {
    opacity: 1;
}

.tag_box.inline li {
    float: left;
    margin: .2em .5em;
}

.tag_box.inline li a:link,
.tag_box.inline li a:hover,
.tag_box.inline li a,
.tag_box.inline li a:visited {
    color: #fff;
    display: block;
    line-height: 1em;
    border: none;
}


/**
 * No Comments Notice
 */

.no-comments {
    background: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: .8em;
    font-size: .9em;
    width: 75%;
    margin: 1em auto;
}

.no-comments h4 {
    color: #c33;
    font-size: 1.1em;
}

.no-comments p {
    font-size: 1em;
}

