<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="chrome=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=7" />
        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <title>{{page.title}} - {{site.title}}</title>
        <link rel="icon" href="{{site.urls}}/favicon.gif" type="image/x-icon"/>
        <link rel="stylesheet" type="text/css" href="{{urls.theme_stylesheets}}/styles.css" />
        <meta name="author" content="{{site.author.name}}" />
    </head>
    <body class="bg">
        <header>
            <h1 id="logo"><a href="{{site.urls}}">{{site.title}}</a></h1>
        </header>
        <div id="body">
            <div class="content">
                {{{ content }}}
            </div>
        </div>
        <footer>
            <div id="copyright">
                Powered by <a href="http://ruhoh.com/" title="Ruhoh Offical Homepage">Ruhoh</a>.
            </div> 
            <div id="footnote"> &copy; 2012 {{site.title}} <a
                    href="{{site.urls}}/index/">[index]</a></div>
        </footer>
    </body>
</html>
