---
layout : default
---

<div class="index">
    <div class="about">
        <p><img alt="我的照片" src="http://localhost/me.jpg"></p>
        <p>Hi~ 这里是 <a href="#about">明城</a>的主页，和<a href="http://www.gracecode.com/">我的博客</a>有稍
        许不同，少了些「流水」，仅仅记录我感兴趣的东西和事物。</p>

        <p><em>「無標題文檔」</em> 这个名字是因为我实在想不好这个站点的名字，使用繁体其实是为了「看起
        来更好看些」（如果你也这么觉得的话）。</p>

        <p>本人，八零后、技术男、宁波人，现居杭州。因身材魁梧而多次被误认为是东北汉子，其实
        作为南方人，本人在大学毕业都还没去过北京。</p>

        <p>如果您想联系我，请发我邮件 <img alt="Email" src="http://localhost/mail.png">。</p>
    </div>

    <hr />

    <div class="projects">
        <h2 id="toc_0"><i class="icon-beaker"></i>项目&amp;工具</h2>
        <ul>
            <li>
            <h3 id="toc_1"><a
                    href="https://github.com/feelinglucky/tracker">Tracker</a></h3>
            <p>试用 Android 设备的 GPS 记录行动轨迹，目前功能可以输出为图表以及分享到新浪微博。</p>
            </li>

            <li>
            <h3 id="toc_2"><a href="http://graceco.de/url-zipper/">iCurl</a></h3>
            <p>网页版本的 curl 调试工具</p>
            </li>

            <li>
            <h3 id="toc_3"><a href="http://graceco.de/url-zipper/">Url Zipper!</a></h3>
            <p>批量压缩给定的网址为短网址，方便用在微博、移动设备等情况下的分享。</p>
            </li>

            <li>
            <h3 id="toc_4"><a
                    href="https://github.com/feelinglucky/php-readability">Readability</a></h3>
            <p>PHP 移植版本的 Readability 库</p>
            </li>

            <li>
            <h3 id="toc_5"><a href="http://graceco.de/motion/">Motion</a></h3>
            <p><img alt="Motion Logo" src="http://graceco.de/motion/accessory/logo-motion-200.png"></p>
            <p>这是名为 Motion 的 Javascript 动画组件。它能够帮助您不依赖任何的 Javascript 框架即可简单、高效地完成复杂的动画效果。</p>
            </li>

            <li>
            <h3 id="toc_6"><a href="http://graceco.de/grids/index.html">格栅系统</a></h3>
            <p>针对 950 页面宽度而定义的格栅系统布局，兼容主流绝大部分浏览器
            <a href="http://www.gracecode.com/archives/2363/">[说明]</a>。</p>
            </li>
        </ul>
    </div>

    <hr />

    <div class="resources">
        <h2 id="toc_7"><i class="icon-book"></i>资源&amp;文档</h2>
        <p>这里包含我一些整理和翻译的文档，希望我没那么懒。<strong>PS，请尊重原创，转贴请注明来源出处和链接。</strong></p>
        <ul>
            <li><a href="http://graceco.de/manual/cscope_vim_tutorial_zh.html">Vim/Cscope 入门指导</a> <a href="http://www.gracecode.com/archives/316/">[说明]</a></li>
            <li>使用 Graphivz 制作流程图</li>
            <li>Ruhoh 入门指导</li>
        </ul>
    </div>
</div>

